.form-container {
    width: 60%;
    margin: 130px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #D67505;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
  }
  
  .form-group input[type="text"],
  .form-group input[type="number"],
  .form-group input[type="tel"],
  .form-group input[type="date"],
  .form-group input[type="email"],#select {
    width: 100%;
    padding: 8px;
    font-size: 18px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
  }
  
  #btn-registro {
    width: 20%;
    padding: 20px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #btn-registro:disabled {
    background-color: #ccc;
  }
  
  #btn-registro:hover:enabled {
    background-color: #0056b3;
  }

  label,h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }

  label{
    font-size: 22px;
  }

  h1{
    font-size: 40px;
  }