.contenedor-autor-item-lista{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .autor-container {
      margin: 5px 0;
      width: 80%;
      margin-left: 0;
      margin-right: 0;
      
    }
    
    .autor-header {
      cursor: pointer;
      padding: 10px;
      border: 1px solid #ccc;
      height: 40px;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      background-color:white;
      color: #D67505;
      display: grid;
      grid-template-columns: 1fr repeat(2,40px);
      gap: 10px
    }
    
    .autor-details {
      overflow: hidden;
      max-height: 0;
      padding: 0 10px;
      border: 1px solid #ccc;
      border-top: none;
      transition: max-height 300ms ease, padding 300ms ease;
    }
    
    .autor-details p {
      margin: 0;
      padding: 10px 0;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .btn-autor-eliminar{
      width: 40px;
      height: 40px;
      background-color: red;
      /*border: 4px solid white;*/
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .btn-autor-editar{
    width: 40px;
    height: 40px;
    background-color: green;
    /*border: 4px solid white;*/
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .detalles-autor{
    text-align: left;
  }